body {
  color: red;
}

.nav-link {
  color: red !important;
}
 .nav {
      margin-bottom: 70px;}

  .card-img-top {
  height: 250px;
  object-fit: cover; 
  width: 99%; /
}
.card-img-top2{
   height: 250px; 
  object-fit: cover; 
  width: 100%;

}

.card-img-top3{
   height: 250px; 
  object-fit: cover; 
  width: 100%;

}

