body {
  background-image: url('fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000; 
  padding-top: 90px; 
}

.navbar-logo {
  height: 50px; 
  width: auto;
}


.nav-link {
  color: red !important;
}

.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(172, 1, 1, 0.8);
  backdrop-filter: blur(6px); 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px 0;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 900 !important;
  color: #d9d9d9 !important;  
  transition: color 0.2s ease;
}

.nav-link.active {
  color: #ffffff !important;           /* blanco puro */
  font-weight: 900;                    /* más grueso */
  transform: scale(1.13);              /* un poquito más grande */
}


.nav-link:hover {
  color: #ff2e2e !important; 
}
.card form {
  font-size: 0.85rem;
}
.form-label {
  font-size: 0.75rem;  
}

.form-control {
  font-size: 0.65rem;   

}

.btn.btn-primary.w-100 {
  background-color: #d32f2f !important; /* un poco más claro */
  border-color: #d32f2f !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
}

.btn.btn-primary.w-100:hover {
  background-color: #b71c1c !important; /* contraste al pasar el mouse */
  border-color: #b71c1c !important;
}

.form-check-input:checked {
  background-color: #d32f2f !important;
  border-color: #d32f2f !important;
}

.producto {
  border: 1px solid #ccc;
   padding: 10px;
    margin: 10px;
     width: 200px;
}

.button {
  padding: 6px 10px;
  margin-top: 5px; 
  cursor: pointer; 
}

#detalle-producto {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  background: #f9f9f9;
}

#otros-productos {
  display: flex;
  gap: 20px;
}

#otros-productos div {
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  text-align: center;
}

