body {
  background-image: url('fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000; 
  padding-top: 90px; 
}

.nav-link {
  color: red !important;
}

.navbar-logo {
  height: 50px; 
  width: auto;
}
.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(172, 1, 1, 0.8);
  backdrop-filter: blur(6px); 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px 0;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 900 !important;
  color: #d9d9d9 !important;  
  transition: color 0.2s ease;
}
.nav-link.active {
  color: #ff2e2e !important; 
}

.nav-link:hover {
  color: #ff2e2e !important; 
}
.card form {
  font-size: 0.85rem;
}
.form-label {
  font-size: 0.75rem;  
}

.form-control {
  font-size: 0.65rem;   
}